/* colors */
.secondary2, .badge a {
  background-color: #eaeaea;
  color: #727272;
}
.bg-secondary2 {
  background-color: #eaeaea;
  color: #212529;
}
.text-secondary2 {
  color: #727272;
}
.text-secondary3, .text-secondary3:hover  {
  color: #525f7f;
}
.item-success {
  border-left: 5px solid #2dce89;
  border-radius: 0 10px;
}
.item-warning {
  border-left: 5px solid #fb6340;
  border-radius: 0 10px;
}
.nav-bordered {
  border-radius: 0 10px;
}
.nav-pills .nav-link, .input-group-alternative .form-control {
  border-radius: 0 10px;
}
.input-group-alternative, .fancy-input {
  border-radius: 0 10px;
}
.input-group-prepend, .input-group-append {
  border-right: none;
}

/* icons */
.upvote-icon:hover, .card-title:hover, .nav-fill .nav-item:hover, a.nav-link {
  cursor: pointer;
}

/* modals */
.modal-body img, .container img {
  max-width: 100%;
}

